@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e2d2b9;
  color: #ffffff;
}

.main-container {
  text-align: center;
  margin: 300px auto;
  width: 50%;
  padding: 10px;
  animation: fadeIn 4s ease;
}

.clearBorder {
  text-shadow: 2px 2px #d3d3d3;
  color: black;
}

.form,
.greeting {
  display: none;
}

.showing {
  display: block;
}

.bgImg {
  position: absolute;
  top: 50%;
  left: 0;
  width: auto;
  height: 60%;
  z-index: -1;
  animation: fadeIn 2s linear;
}

.center-bg {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.js-clock {
  margin-bottom: 0;
  font-size: 90px;
}
.js-weather {
  margin-top: 0;
}
.js-greeting {
  margin-top: 0;
}

.js-Pending,
.js-Finished {
  font-size: 10px;
  list-style-type: none;
}

.js-Pending li,
.js-Finished li {
  color: #d2691e;
}

h5 {
  margin-bottom: 0;
  margin-top: 5px;
}
